*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* variables for theme colors */
:root{
    --color-teal: #06c167;
    --bg-color-teal: #f3fcf7;
}

/* utility classes for quick styling */
.color-teal{
    color: var(--color-teal);
}
.bg-color-teal{
    background-color: var(--bg-color-teal);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}

.menu-icon{
    display: block;
}

.navbar .nav-links{
    display: none;
}
@media screen and (min-width: 768px){
    .navbar{
        padding: 20px 30px;
    }
    .menu-icon{
        display: none;
    }

    .navbar .nav-links{
        display: block;
    }
    .navbar .nav-links ul{
        display: flex;
        gap: 20px;
        list-style: none;
    }

    .navbar .nav-links ul li a{
        text-decoration: none;
        border: 1px solid var(--bg-color-teal);
        padding: 6px 8px;
        border-radius: 6px;
        outline: none;
    }
    .navbar .nav-links ul li a:hover{
        color: var(--color-teal);
        border: 1px solid var(--color-teal);
        padding: 6px 8px;
    }
}

@media screen and (min-width: 1024px) {
    .navbar{
        padding: 20px 30px;
    }
    .menu-icon{
        display: none;
    }

    .navbar .nav-links{
        display: block;
    }
    .navbar .nav-links ul{
        display: flex;
        gap: 20px;
        list-style: none;
    }

    .navbar .nav-links ul li a{
        text-decoration: none;
        border: 1px solid var(--bg-color-teal);
        padding: 6px 8px;
        border-radius: 6px;
    }
    .navbar .nav-links ul li a:hover{
        color: var(--color-teal);
        border: 1px solid var(--color-teal);
        padding: 6px 8px;
    }
}